apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-kc
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-kc-storage
          mountPath: /var/lib/postgresql/data
        env:
        - name: POSTGRES_DB
          value: keycloak
        envFrom:
        - secretRef:
            name: postgres-secret
      volumes:
        - name: postgres-kc-storage
          persistentVolumeClaim:
            claimName: postgres-kc-pvc